img{
    width: 320px;
    height: 240px;
    margin: 20px;
}
.titlered{
    color: red;
    text-align: center;
}
.firstDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
   
    margin-left: 20%;
    padding: 30px;

}